*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: cornflowerblue;
    margin: 5rem auto;
    border-radius: 25px;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 1rem;
}


