*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: cornflowerblue;
    margin: 5rem auto;
    border-radius: 25px;
    height: 200px;
    width: 1000px;
}